lib/properties/status.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="status">
    <element name="status" ns="http://cpee.org/ns/properties/2.0">
      <element name="id">
        <data type="integer"/>
      </element>
      <element name="message">
        <data type="string"/>
      </element>
    </element>
  </define>
</grammar>
