transformation/lib/bpel/Repository/booking/hotel.wsdl

<wsdl:description 
   targetNamespace="uri:hotel/booking"
   xmlns:wsdl="http://www.w3.org/ns/wsdl"
   xmlns:whttp="http://www.w3.org/ns/wsdl/http"
   xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:msg="uri:hotel/booking/msg"
   xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">

  <wsdl:types>
    <xs:schema 
      targetNamespace="uri:hotel/booking/msg"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns="uri:hotel/booking/msg"
      xmlns:msg="uri:hotel/booking/msg"
      elementFormDefault="qualified">
  
      <xs:element name="input" type="inputType"/>
      <xs:element name="output" type="outputType"/>
      
      <xs:complexType name="inputType">
        <xs:sequence>
          <xs:element name="from" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="person" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      
      <xs:complexType name="outputType">
        <xs:sequence>
          <xs:element name="costs" type="xs:integer" minOccurs="0" maxOccurs="1"/>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>

  <plnk:partnerLinkType name="bookPLT">
    <plnk:role name="book_hotel" portType="BookInterface"/>
  </plnk:partnerLinkType>

  <wsdl:interface name="BookInterface">
    <wsdl:operation name="book"
       pattern="http://www.w3.org/ns/wsdl/in-out"
       style="http://www.w3.org/ns/wsdl/style/iri" 
       wsdlx:safe="true">
      <wsdl:input element="msg:input"/>
      <wsdl:output element="msg:output"/>
    </wsdl:operation>
  </wsdl:interface>

  <wsdl:binding name="BookHTTPBinding"
     type="http://www.w3.org/ns/wsdl/http"
     interface="BookInterface">
    <wsdl:operation ref="book" whttp:method="POST"/>
  </wsdl:binding>

  <wsdl:service name="BookHotel" interface="BookInterface">
    <wsdl:endpoint name="BookHTTPEndpoint"
       binding="BookHTTPBinding"
       address="http://www.pri.univie.ac.at/~mangler/book_hotel/">
    </wsdl:endpoint>
  </wsdl:service>
</wsdl:description>
