cockpit/themes/compact/rngs/loop.rng

<element rngui:version="1.2" name="loop" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:rngui="http://rngui.org">
  <attribute name="mode" rngui:label="Mode" rngui:default="pre_test">
    <choice>
      <value>pre_test</value>
      <value>post_test</value>
    </choice>
  </attribute>
  <attribute name="condition" rngui:label="Condition">
    <data type="string" rngui:label="Condition"/>
  </attribute>
</element>
